html{
    background-image: url(images/tm01.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
}
body{
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.733);
    color:antiquewhite
}

.container{
width: 80%;
margin: auto;
}

.col-6{
width:100%;
}

.col-4{
width:100%;
}

.col-4::after{
content:"";
display: block;
clear: both;
}

.col-3{
width: 25%;
float: left;
}
.col-9{
width: 75%;
float: left;
}



.headings,.city,.foreign_lang,.historical_places{
padding-bottom:50px;
}
.historical_places ul{
margin: 0;
list-style-type: none;
margin: 0%;
padding: 0;
font-size: 2rem !important;
}
.historical_places li{
    font-size: 18px;
}

img{
width:100%;
}

.heading3{
margin-left: 15%;
}

h2{
text-align: center;
font-size: 1.2em;
width: 100%;
background-color: antiquewhite;
color:black;
}
p{
font-size: 1em;
}

ul li{
font-size: 15px;
}


::-webkit-scrollbar {
width: 0;  
background: transparent;  
}

.headings{
width:80%;
margin: auto;
padding-top: 50px;
overflow: hidden;
}

.headings--heading{
float: left;
margin-top: 15%;
}

.headings .col-6 {
width: 50%;
float: left;
}

.city .city--image img{
width:100%;
padding-left: 40%;
margin-top: 20px;
}

table, th, td {
font-size: 18px;
background-color: rgba(0, 0, 0, 0.164);
color:white;
border:1px solid white;
}

table{
width: 98%; 
}
th{
background-color: white;
color: black;
}


.historical_places .col-6{
width: 50%;
float: left;
}

.historical_places .district_6 .col-6{
float: right;
}

.historical_places img{
width:100%;
}

.historical_places ul{
padding:0px 20px;
}

.clear_float{
overflow: auto;
zoom: 1;
}   

@media(min-width:790px){
.col-6{
width:50%;
float: left;
}

.col-4{
width:33.33%;
float: left;
}

.historical_places .district_6 .col-6{
float: left;
}

.city--text p, .city--text h3{
margin-right: 35%;
font-size: 1.5em;
box-shadow: 0 10px 15px rgba(233, 233, 233, 0.884);

}
h2{
font-size: 1.5em;
}
p{
font-size: 1.2rem;
color: white;
}
}