@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html{
    background-image: url(images/tm01.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
}
body{
    background-color: rgba(231, 230, 223, 0.37);
    padding-left: 5%;
}
a{
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}
a:hover{
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(0px);
}
#profile{
    width: 70%;
    height: 250px;
    border-style: dashed;
    margin: auto;
    background-color: rgb(0, 0, 0);
    
}
#dp{
    border-radius: 50%;
    width: 245px;
    height: 250xpx;
    margin-left: 35%;
    
}
#name{
    margin-top: -20%;
    margin-left: 10%;
    color:cornsilk;
    color:cornsilk;
    font-family: 'Pacifico', cursive;
    font-size: 1.7rem
}

#name_{
    margin-top: -33.5vh;
    margin-left: 25vh;
    visibility: hidden;
}

table, th, td {
    font-size: 18px;
    background-color: rgba(245, 245, 245, 0.493) 
}

table {
    width: 98%; 
}

ul {
    list-style-type: none;
    margin: -10%;
    padding: 0;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    #profile{
        width: 70%;
        height: 250px;
        border-style: dashed;
        margin: auto;
        background-color: rgb(0, 0, 0);
        
    }
    #dp{
        border-radius: 50%;
        width: 245px;
        height: 250xpx;
        margin-left: 35%;
        
    }
    #name{
        margin-top: -20%;
        margin-left: 10%;
        color:cornsilk;
    }
    
    table, th, td {
        font-size: 18px;
        background-color: rgba(245, 245, 245, 0.493) 
    }
    
    table {
        width: 98%; 
    }

    .cityContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 98% !important;
        margin-left: -20%;
    }
    #cty {
        width: 700px !important;
        height: 300px !important;
        border: 0px !important;
        margin-left: -25%;
        /*  */
    }
    .city {
        flex-basis: 100%
    }
    .cityText {
        margin-left: -40%;
        margin-top: -35%;
        padding-top: 25%;
        font-size: 13px !important;
        padding-left: 1px;
        width: 70% !important;
    }

    #name_{
        margin-top: -33.5vh;
        margin-left: 25vh;
        color:cornsilk;
        font-family: 'Pacifico', cursive;
        font-size: 18px;
    }

    #name{
        margin-top: -110% !important;
        margin-left: 10%;
        color:cornsilk;
        visibility: hidden; /*Should be fixed if not working*/
    }

    a{
        -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
        filter: blur(0px);
    }
}

@media screen and (max-width: 600px) {
.column {
    width: 50%;
}
#profile{
    width: 100%;
    height: 250px;
    border-style: dashed;
    margin: auto;
    background-color:rgb(0, 0, 0);
}
#name_{
    margin-top: -33.5vh;
    margin-left: 25vh;
    color:cornsilk;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
}
#dp{
    border-radius: 50%;
    width: 200px;
    margin-top: 23%;
    height: 200px;
    margin-left: 20%;
}
#name{
    margin-top: -90%;
    margin-left: 35%;
    font-size: medium;
    color: cornsilk;
}
*{
    box-sizing: border-box;
    }
    
    #btmGrid{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgba(210, 238, 238, 0.3);
    }
    
    .btmSection{
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12.5;
    }
    
    .btmSection:nth-child(odd){
        flex-direction: row-reverse;
    }
    

    img{
        width: 45%;
    }
    
    div{
        width: 45%;
    }

}

@media screen and (max-width: 540px) {
    #one { 
    float: none;
    margin-right:0;
    width:100%;
    border:0;
    border-bottom:2px solid #000;    
}

#profile{
    width: 100%;
    height: 150px;
    border-style: dashed;
    background-color: rgb(0, 0, 0);
    
}
#dp{
    border-radius: 50%;
    width: 130px;
    height: 120px;
    margin-left: 35%;
    margin-top: 6vh;
    
}
#name{
    margin-top: -20%;
    margin-left: 10%;
    color:cornsilk;
}

table, th, td {
    font-size: 18px;
    background-color: rgba(245, 245, 245, 0.493) 
}

table {
    width: 98%; 
}

.cityContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98% !important;
    margin-left: -20%;
}
#cty {
    width: 150px !important;
    height: 35vh !important;
    border: 0px !important;
    margin-left: 15vh;
    margin-top: -6vh;
    /*  */
}
::-webkit-scrollbar {
    display: none;
}

#scroll_{
    width: 150%;
    height: 35vh;
    overflow-y: scroll;
    box-sizing: content-box;
    font-size: 14px;

}
ul{
    overflow-y: scroll;
    box-sizing: content-box;
    font-size: 14px;height: 35vh;
}
.city {
    flex-basis: 100%
}
.cityText {
    margin-left: -0%;
    margin-top: -35%;
    padding-top: 25%;
    padding-left: 1px;
}

#name{
    color:cornsilk;
    visibility: hidden;
}
#name_{
    margin-top: -33.5vh;
    margin-left: 25vh;
    color:cornsilk;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
}

a{
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(0px);
}
}


*{
box-sizing: border-box;
}

#btmGrid{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 98%;
    background-color: rgba(210, 238, 238, 0.3);
}

.btmSection{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btmSection:nth-child(odd){
    flex-direction: row-reverse;
}

img{
    width: 45%;
}

div{
    width: 45%;
    padding: 1rem;
}

@media only screen and (min-width: 992px){
    #btmGrid{
        flex-direction: row;
    }

    .btmSection:nth-child(n){
        flex-direction: row;
    }



.cityContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}
#cty {
    max-width: 50vh;
    height: 50vh;
    border: 10px;
    border-radius: 10%;
    border-color: aquamarine;
    border-style:groove;
    margin-top: -35vh;
}
.city {
    flex-basis: 100%
}
.cityText {
    margin-left: -40%;
    margin-top: -35%;
    padding-top: 25%;
    font-size: 20px;
    padding-left: 1px;
    width: 50%;
}

}